@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    display: none;
}
html,body{
    width: 100%;
    height: 100vh;
    max-width: 2000px;
    margin: auto;
}

.container{
    width: 90%;
    margin: auto;
}
